.about {
	padding: 80px 0 225px 0; 
	position: relative;
}

.about__title {
	font-size: 50px;
	line-height: 59px;
	text-align: center;
	margin-bottom: 105px;
}

.about__title span {
	background: linear-gradient(90deg, rgba(185, 1, 96, 1) 0%, rgba(61, 91, 245, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about__list {
	display: flex;
	justify-content: space-between;
}

.about__item {
	max-width: 344px;
}

.about::after {
	content: '';
	display: block;
	width: 757px;
	height: 581px;
	background-image: url(../../img/about/base-sheet.png);
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 64px;
	left: -57px;
	z-index: -1;
}

@media (max-width: 1200px) {
	.about {
		padding: 50px 0 124px 0; 
	}

	.about__title {
		font-size: 40px;
		line-height: 47px;
		margin-bottom: 48px;
	}

	.about__list {
		flex-direction: column;
		align-items: center;
		gap: 61px;
	}

	.about__item {
		max-width: 594px;
	}

	.about::after {
		top: 299px;
		left: -44px;
	}
}

@media (max-width: 767px) {
	.about {
		padding: 32px 0 103px 0; 
	}

	.about__title {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 51px;
	}

	.about__item {
		max-width: 82.5%;
	}

	.about__list {
		gap: 30px;
	}

	.about::after {
		display: none;
	}
}

@media (max-width: 480px) {
	.about__item {
		max-width: 100%;
	}
}

/* ! Разобраться с ромбами */