/* ! Настроить корректное отображение контента в слайдах  В slide нельзя ставить padding */

.feedback {
	background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
	padding: 38px 0 72px;
}

.feedback__slider {
	max-width: 1440px;
	min-height: 340px;
	padding-top: 90px;
}

.feedback__slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0 0  30px rgba(0, 0, 0, 0.25);
	border-radius: .9rem;
	min-width: 536px;
	max-width: 536px;
	min-height: 187px;
	max-height: 187px;
	padding-bottom: 20px;
	cursor: pointer;
}

.feedback__slide-img {
	position: absolute;
	z-index: 20;
	top: -55%;
	left: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, 45%);
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	width: 93px;
	height: 106px;
	background: linear-gradient(90deg, rgba(185,1,96,1) 0%, rgba(61,91,245,1) 100%);
}

.feedback__slide-photo {
	clip-path: polygon(50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
	width: 93px;
	height: 106px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feedback__slide-photo img {
	min-width: 100%;
	min-height: 100%;
	flex-shrink: 0;
}

.feedback__slide-text {
	flex: 1 1 auto;
	padding-top: 63px;
	font-size: 18px;
	line-height: 117%;
	text-align: center;
	margin-bottom: 30px;
}

.feedback__name {
	font-size: 13px;
	line-height: 115%;
	text-align: center;
	color: #8E8E8E;
}

.feedback__name::before {
	content:'';
	display: block;
	width: 130px;
	height: 2px;
	margin-bottom: 10px;
	background: linear-gradient(90deg, rgba(185,1,96,1) 0%, rgba(61,91,245,1) 100%);
	flex: 1 1 auto;
}

.swiper-slide-active {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
} 

.swiper-slide-prev , .swiper-slide-next{
	opacity: 40%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


@media (max-width: 1200px) {
	.swiper-slide-prev , .swiper-slide-next{
		opacity: 1;
	}
}