.hero {
	padding: 4.7rem 0 7.5rem;
}

.hero__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__logo-wrap {
	display: flex;
	align-items: center;
	gap: 1.1rem;
}

.hero__logo-name {
	font-style: italic;
	font-weight: 900;
	font-size: 3.6rem;
	line-height: 116%;
}

.hero__navigation {

}

.hero__main {
	
	padding: 4rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__left {

}

.hero__main-title {
	max-width: 67.6rem;
	font-weight: 900;
	font-size: 5rem;
	line-height: 118%;
	margin-bottom: 2.5rem;
}

.hero__text {
	font-size: 2.4rem;
	line-height: 117%;
	margin-bottom: 3.5rem;
}

.hero__btn {
	border: none;
	outline: none;
	width: 17.9rem;
	height: 5.3rem;
	font-weight: 900;
	font-size: 2rem;
	line-height: 115%;
	text-align: center;
	color: #FFFFFF;
	background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
	border-radius: 7px
}

.hero__right {

}

